header {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 500%;
    margin-bottom: 1%;
}

body {
    background-color: lightblue;
}

#quoteId {
    background-color: aliceblue;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 1em;
    
}

#homer {
    background-image: url("images/homer.png");
}

.firstPage {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.firstPage img:hover {
    background-color: gray;
}

.firstPage img {
    background-color: black;
    border-radius: 50%;
    height: 10em;
    width: 10em;
    padding: .5%;
    margin: 1em;
}

p {
    background-color: aquamarine;
}

#charName {
    color: purple;
    display: inline;
}

/* Style for the Yes button */
button:nth-child(1) {
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:nth-child(1):hover {
    background: linear-gradient(to bottom, #45a049, #4CAF50);
}

/* Style for the No button */
button:nth-child(2) {
    background: linear-gradient(to bottom, #FF5733, #D35400);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:nth-child(2):hover {
    background: linear-gradient(to bottom, #D35400, #FF5733);
}

button:nth-child(3) {
    background: linear-gradient(to bottom, rgb(55, 22, 201), #24c5ca);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:nth-child(3):hover {
    background: linear-gradient(to bottom, #00d3b7, #3336ff);
}


