header {
    text-align: center;
    margin-top: 10%;
}

h1 {
    font-size: 500%;
    margin-bottom: 1%;
}

body {
    background-color: lightblue;
}

#quoteId {
    background-color: aliceblue;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}

img {
    background-color: black;
    border-radius: 50%;
    width: 10%;
    display: inline-block;
    margin-left: 25%;
}

#homer {
    background-image: url("images/homer.png");
}

.firstPage {
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.firstPage img:hover {
    background-color: gray;
}

.firstPage img {
    background-color: black;
    border-radius: 50%;
    width: 10%;
    padding: .5%
}

p {
    background-color: aquamarine;
}