header {
    text-align: center;
    margin-top: 10%;
    background: linear-gradient(to bottom, #001f3f, #002d4f); /* Dark blue gradient */
    margin-right: 30%;
    margin-left: 30%;
}

h1 {
    font-size: 500%;
    margin-bottom: 1%;
    color: #bdc3c7; /* Silver */
}

body {

    background-image: url("images/galaxy.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    
}

#quoteId {
    background: linear-gradient(to bottom, #002d4f, #001f3f); /* Dark blue gradient */
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    padding: 1em;
    color: white;
}

#homer {
    background-image: url("images/homer.png");
}

.firstPage {
    background: linear-gradient(to bottom, #001f3f, #002d4f); /* Dark blue gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.firstPage img:hover {
    background: linear-gradient(to bottom, #002d4f, #001f3f); /* Dark blue gradient */
    background: linear-gradient(to bottom, #3a383b, #331747);
    transform: scale(1.05); 
}

.firstPage img {
    background: linear-gradient(to bottom, #002d4f, #001f3f); /* Dark blue gradient */
    border-radius: 50%;
    height: 10em;
    width: 10em;
    padding: .5%;
    margin: 1em;
    cursor: pointer;
}

p {
    background-color: #2ecc71; /* Emerald green */
}

#charName {
    color: #1e86cc; /* Silver */
    display: inline;
}

button {
    margin: 1em;
}

/* Style for the Yes button */
button:nth-child(1) {
    background: linear-gradient(to bottom, #002d4f, #001f3f); /* Dark blue gradient */
    color: #fff;
    padding: 12px 24px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease; 
}

/* Hover effect for the Yes button */
button:nth-child(1):hover {
    background: linear-gradient(to bottom, #3a383b, #331747);
    transform: scale(1.05); 
}

/* Style for the No button */
button:nth-child(2) {
    background: linear-gradient(to bottom, #6e1111, #3c0f0f);  /* Dark red gradient */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}


button:nth-child(2):hover {
    background: linear-gradient(to bottom, #3a383b, #331747);
    transform: scale(1.05);
}

/* Style for the Restart button */
button:nth-child(3) {
    background: linear-gradient(to bottom, #8e44ad, #7942a0); /* Dark purple gradient */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:nth-child(3):hover {
    background: linear-gradient(to bottom, #7942a0, #8e44ad);
    transform: scale(1.05);
}

